{% extends 'base.html' %}
{% load static %}

{% block title %}Anthracnose{% endblock %}

{% block content %}
<div class="container">
    <center>
        <img src="{% static 'images/ad_logo.jpg' %}" height="50px" width="50px" alt="logo" class="img-fluid" style=""/>
    </center>
    <h5>Anthracnose (Leaf Spot) of Sorghum</h5>
    <p>
      <b>Symptoms</b>
      <ul>
        <li>The disease appears as small red coloured spots on both surfaces of the leaf</li>
        <li>The centre of the spot is white in colour encircled by red, purple or brown margin</li>
        <li>Numerous small black dots like acervuli are seen on the white surface of the lesions</li>
        <li>The infection deteriorates the physical and chemical quality of the grains and causes a reduction in grain yield of up to 25%</li>
        <li>The disease is caused by the fungus Colletotrichum sublineola</li>
      </ul>
    </p>

    <p>
      <b>Prevention</b>
      <ol>
        <li>Resistant hybrids may be available information is available from research centres and suppliers</li>
        <li>Use certified or clean seed from disease free plants; this is important as this disease can be transmitted by the seeds</li>
        <li>Remove other susceptible host plants such as grasses which may harbour the disease</li>
        <li>Burn plant residues after harvesting and immediately deep plough the field as the fungus can survive on crop residues</li>
        <li>Rotate sorghum on a 2-year basis with crops other than cereals such as chickpeas or beans</li>
        <li>In poorly rotated fields, plough under infested residues where soil erosion is not a problem</li>
        <li>Thiram can be used as a seed treatment. Thiram 80% WP (Thiram Granuflo 80 WP) can be used as a seed treatment.
          Apply as a water slurry at a rate of 190-260g to 100kg of seed. Apply only to good quality seed and ensure uniform coverage.
          Treat seed immediately prior to sowing and do not store seed treated.</li>
      </ol>
    </p>

    <p>
    <b>Direct control</b>
      <ul>
        <li>Remove and dispose of infected plants at the earliest stage possible by burning or burying</li>
      </ul>
    </p>
    <div class="pt-1 mb-4 text-center">
      <a href="{% url 'index' %}" class="btn btn-dark btn-sm ">Go back</a>
      <a href="https://en.wikipedia.org/wiki/Sorghum" target="_blank" class="btn btn-dark btn-sm ">Read more</a>
    </div>
    <p>
        &copy; Agro Detect
        <a href="#!" class="small text-muted">Terms of use.</a>
        <a href="#!" class="small text-muted">Privacy Policy</a>
    </p>

</div>
{% endblock %}